<!DOCTYPE html>
<html>
<head>
	 <!-- Compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Home</title>
	
</head>
<body style="background-color:black;">
	<div class="container card" style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; max-width:fit-content "  >
	
		<div class="container center ">
		<h2>Absurd News Authentication</h2>
		<!--<a href="/multinomialNB"><h3 class="waves-effect waves-dark btn-small ">MultiNB()</h3></a>
		<h3 class="waves-effect waves-dark btn-small">CNN</h3>  -->
		</div>

    <div class="container ">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Comment Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="waves-effect waves-light btn-large " value="predict">
		
	</form>
		
	</div>
	<br/>
	<div class="container">
		<h4>Results: </h4>
	</div>
	{% block content %}{% endblock %}


</body>
</html>